@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;300;400;700&display=swap');

:root {
    /* width: 100vw; */

    background-color: black;
    color: white;
}

body {
    margin: 0;
    border: 0;
}

.app--dark {
    width: 100vw;
    height: 100vh;

    background-color: black;
}