.podcast-header__container {
    width: 100vw;
    height: 25vw;

    background-color: rgb(29, 29, 29);

}

.podcast-header__content {
    height: 100%;
    width: 100%;

    padding: 2rem 4rem 2rem 4rem;

    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.podcast-header__meta {
    margin: 0 3rem 0 3rem;
}

.podcast-header__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 2rem;

    margin: 0 0 1rem 0;
}

.podcast-header__author {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: rgb(170, 170, 170);
}

.podcast-header__subtitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: rgb(170, 170, 170);
}